.canvas {
  overflow: hidden;
  position: relative;
  width: auto;
  display: inline-block;
  border: 1px dashed black;
  margin: 12px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px grey;
  width: 250px;
}
.canvas-title {
  padding: 6px 10px;
  border-bottom: 1px dashed black;
}

.canvas-ascii {
  display: flex;
  flex-direction: column;
  flex: 0.9
}
.canvas-ascii-pre-wrap {
  width: 100%;
  height: 100%;
}