.canvas {
  overflow: hidden;
  position: relative;
  width: auto;
  display: inline-block;
  border-bottom: 1px dashed black;
}
.canvas-title {
  padding: 6px 10px;
  border-bottom: 1px dashed black;
}

.canvas-ascii {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px dashed black;
}
.canvas-ascii-pre-wrap {
  width: 100%;
  height: 100%;
}