:root {
  --controls-width-desktop: 300px;
}

/* Controls default state */
.controls-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--controls-width-desktop);
  background-color: var(--site-background-color);
  border-right: 1px dashed var(--site-background-contrast-color);
  overflow-y: scroll;
  padding-bottom: 20px;
}
.controls-header {
  padding: 10px;
}

/* ControlsDropdown default state */
.controls-dropdown {
  display: flex;
  flex-direction: column;
  border-top: 1px dashed var(--site-background-contrast-color);
}
.controls-dropdown-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: color 100ms;
  color: #000;
}
.controls-dropdown-label:hover {
  transition: color 100ms;
  color: blue;
}
.controls-dropdown-children {
  display: flex;
  flex-direction: column;
  content-visibility: hidden;
}
.controls-dropdown-children label p {
  font-size: 0.75em;
  margin: 0 0 3px 0;
}

/* ControlsDropdown expanded state */
.controls-dropdown.expanded i {
  transform: rotate(90deg);
}
.controls-dropdown.expanded .controls-dropdown-children {
  padding: 0px 10px 10px 20px;
  content-visibility: visible;
}

.control {
  margin-top: 10px;
}
.no-margin {
  margin: 0;
}
.control:first-child {
  margin-top: 0;
}