:root {
  --frame-timeline-height: 100px;
}

.frame-timeline-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: var(--frame-timeline-height);
  background: var(--site-background-color);
  border-top: 1px dashed var(--site-background-contrast-color);
}

.frame-preview{
  position: relative;
  height: 100%;
  width: var(--frame-timeline-height);
  border-left: 1px dashed var(--site-background-contrast-color);
  cursor: pointer;
}
.frame-preview:first-child {
  border-left: 0;
}
.frame-preview:last-child {
  border-right: 1px dashed var(--site-background-contrast-color);
}
.frame-preview.active,
.frame-preview:hover {
  background-color: var(--site-background-color-highlight-2);
}

.frame-number {
  position: absolute;
  top: 6px;
  left: 6px;
  /* padding: 6px; */
  background-color: var(--site-background-color-highlight);
  border-radius: 6px;
  font-size: 0.9em;
  min-width: 25px;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.frame-preview.selected .frame-number {
  background-color: var(--success-green-light);
}