@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap");

:root {
  /* pallette */
  --primary-color-1: blue;
  --primary-color-2: blue;
  /* text */
  --text-color-p: #000;
  --text-color-accent: grey;
  --text-color-highlight: grey;
  /* background */
  --site-background-color: #FFF;
  --site-background-color-highlight: #EEE;
  --site-background-color-highlight-2: #DDD;
  --site-background-contrast-color: #000;
  /* status */
  --success-green: #4BB543;
  --success-green-light: #c6ebc3;
  --failure-red: #F44336;
  --failure-red-light: #FFCDD2;
}

html, body {
  font-family: "Work Sans";
  font-size: 16px;
  overflow-x: hidden;
  margin: 0px;
}
html *, body * {
  font-family: "Work Sans";
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

pre {
  margin: 0px;
}

h5, h6 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: blue;
  font-family: inherit;
}
a:visited {
  color: purple;
}
/* a:hover {
  color: var(--primary-color-1);
} */

.highlight {
  background-color: var(--text-color-highlight);
}

.highlight-on-hover:hover {
  background-color: var(--text-color-highlight);
}

.faux-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.faux-link:visited {
  color: inherit;
}
.faux-link:hover {
  color: var(--text-color-accent);
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 2.0em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.4em;
}

h6, p, code, ol, ul {
  font-size: 1em;
}

span, small, em, strong, input {
  font-family: inherit;
  font-size: inherit;
}

.accent {
  color: var(--text-color-accent);
}

.indent {
  margin-left: 10px !important;
  padding-left: 10px !important;
}

.big-title {
  border-bottom: 1px solid #eee;
  padding-bottom: 24px;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.normal {
  font-style: normal;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.58em;
  }
  h2 {
    font-size: 2.236em;
  }
  h3 {
    font-size: 1.892em;
  }
  h4 {
    font-size: 1.692em;
  }
  h5 {
    font-size: 1.196em;
  }
  h6, p, code, ol, ul {
    font-size: 1.012em;
  }
  p.big {
    font-size: 1.104em;
  }
  p.small {
    font-size: 0.92em;
  }
}
@media screen and (min-width: 1800px) {
  h1 {
    font-size: 3.42em;
  }
  h2 {
    font-size: 2.964em;
  }
  h3 {
    font-size: 2.508em;
  }
  h4 {
    font-size: 1.836em;
  }
  h5 {
    font-size: 1.404em;
  }
  h6, p, code, ol, ul {
    font-size: 1.078em;
  }
  p.big {
    font-size: 1.296em;
  }
  p.small {
    font-size: 1.08em;
  }
}
.canvas {
  overflow: hidden;
  position: relative;
  width: auto;
  display: inline-block;
  border: 1px dashed black;
  margin: 12px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px grey;
  width: 250px;
}

.canvas-title {
  padding: 6px 10px;
  border-bottom: 1px dashed black;
}

.canvas-ascii {
  display: flex;
  flex-direction: column;
  flex: 0.9;
}

.canvas-ascii-pre-wrap {
  width: 100%;
  height: 100%;
}

:root {
  --controls-width-desktop: 300px;
}

/* Controls default state */
.controls-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--controls-width-desktop);
  background-color: var(--site-background-color);
  border-right: 1px dashed var(--site-background-contrast-color);
  overflow-y: scroll;
  padding-bottom: 20px;
}

.controls-header {
  padding: 10px;
}

/* ControlsDropdown default state */
.controls-dropdown {
  display: flex;
  flex-direction: column;
  border-top: 1px dashed var(--site-background-contrast-color);
}

.controls-dropdown-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: color 100ms;
  color: #000;
}

.controls-dropdown-label:hover {
  transition: color 100ms;
  color: blue;
}

.controls-dropdown-children {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  height: 0;
}

.controls-dropdown-children label p {
  font-size: 0.75em;
  margin: 0 0 3px 0;
}

/* ControlsDropdown expanded state */
.controls-dropdown.expanded i {
  transform: rotate(90deg);
}

.controls-dropdown.expanded .controls-dropdown-children {
  padding: 0px 10px 10px 10px;
  visibility: visible;
  height: auto;
}

.control {
  margin-top: 10px;
}

.no-margin {
  margin: 0;
}

.control:first-child {
  margin-top: 0;
}

/* ControlFile default state */
.control input[type=file] {
  width: 100%;
  cursor: pointer;
  font-size: 0.75em;
}

/* ControlSlider default state */
.control-numerical-ranges-with-outputs-wrap {
  width: 100%;
}

.control-numerical-ranges-with-outputs-wrap .range {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 4px 0px 0px -8px;
}

.control-numerical-ranges-with-outputs-wrap .range:nth-child(2) {
  margin-top: 8px;
}

.control-numerical-ranges-with-outputs-wrap span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

.control-numerical-ranges-with-outputs-wrap span label,
.control-numerical-ranges-with-outputs-wrap span input {
  font-size: 0.8em;
  width: 50% !important;
}

.control-numerical-ranges-with-outputs-wrap span label {
  text-align: center;
}

/* ControlSlider default state */
.control-slider-wrap {
  width: 100%;
}

.control-slider-wrap input[type=range] {
  width: 100%;
  cursor: pointer;
  margin: 0;
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 0 auto;
  width: calc(100vw - 500px);
  height: calc(100vh - 200px);
  font-size: 0.85rem;
  max-width: 400;
}

.frame {
  display: none;
}

.frame.selected {
  display: flex;
}

:root {
  --frame-timeline-height: 100px;
}

.frame-timeline-wrap {
  position: fixed;
  bottom: 0;
  left: var(--controls-width-desktop);
  right: 0;
  display: flex;
  height: var(--frame-timeline-height);
  background: var(--site-background-color);
  border-top: 1px dashed var(--site-background-contrast-color);
  border-left: 1px dashed var(--site-background-contrast-color);
  overflow-x: scroll;
}

.frame-timeline-controls {
  position: sticky;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: var(--frame-timeline-height);
  flex-shrink: 0;
  border-right: 1px dashed black;
  border-bottom: 0;
  z-index: 9;
  background-color: white;
}

.frame-timeline-play-pause-toggle {
  cursor: pointer;
  display: flex;
  margin: 10px 0px 0px 0px;
}

.frame-preview {
  position: relative;
  height: 100%;
  width: var(--frame-timeline-height);
  border-left: 1px dashed var(--site-background-contrast-color);
  cursor: pointer;
  flex-shrink: 0;
}

.frame-preview:first-child,
.frame-preview:nth-child(2) {
  border-left: 0;
}

.frame-preview:last-child {
  border-right: 1px dashed var(--site-background-contrast-color);
}

.frame-preview.active,
.frame-preview:hover {
  background-color: var(--site-background-color-highlight-2);
}

.frame-number {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: var(--site-background-color-highlight);
  border-radius: 6px;
  font-size: 0.9em;
  min-width: 25px;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.frame-preview.selected .frame-number {
  background-color: var(--success-green-light);
}

.delete-frame {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: var(--failure-red-light);
  border-radius: 6px;
  font-size: 0.9em;
  min-width: 25px;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.delete-frame:hover {
  background-color: var(--failure-red);
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - var(--controls-width-desktop));
  margin-left: var(--controls-width-desktop);
  margin-bottom: var(--frame-timeline-height);
  padding: 12px;
}

/* mobile */
@media screen and (max-width: 900px) {
  .controls-wrap {
    position: relative;
    top: initial;
    left: initial;
    bottom: initial;
    width: 100%;
    border-bottom: 1px dashed black;
    padding-bottom: 0;
  }

  .content {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    margin-left: 0;
    padding: 0;
  }
  .content > div {
    padding: 20px;
    margin: 0;
    border: 0;
    box-shadow: none;
  }

  .canvas-title {
    border: 0;
  }

  .canvas-ascii {
    width: calc(100% - 40px);
    margin-top: 20px;
  }

  .empty-state {
    height: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 100%;
  }

  .frame-timeline-wrap {
    left: 0;
    border-left: 0;
  }
}