@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap");
:root {
  /* pallette */
  --primary-color-1: red;
  --primary-color-2: blue;
  /* text */
  --text-color-p: #000;
  --text-color-accent: grey;
  --text-color-highlight: grey;
  /* background */
  --site-background-color: #FFF;
  --site-background-color-highlight: #EEE;
  --site-background-color-highlight-2: #DDD;
  --site-background-contrast-color: #000;
  /* status */
  --success-green: #4BB543;
  --success-green-light: #c6ebc3;
}

html, body {
  font-family: "Work Sans";
  font-size: 16px;
  overflow-x: hidden;
  margin: 0px;
}
html *, body * {
  font-family: "Work Sans";
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

pre {
  margin: 0px;
}

h5, h6 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: var(--primary-color-1);
}

.highlight {
  background-color: var(--text-color-highlight);
}

.highlight-on-hover:hover {
  background-color: var(--text-color-highlight);
}

.faux-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.faux-link:visited {
  color: inherit;
}
.faux-link:hover {
  color: var(--text-color-accent);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.3em;
}

h6, p, code, ol, ul {
  font-size: 1.1em;
}

p.big {
  font-size: 1.2em;
}

p.small {
  font-size: 1em;
}

span, small, em, strong, input {
  font-family: inherit;
  font-size: inherit;
}

.accent {
  color: var(--text-color-accent);
}

.indent {
  margin-left: 10px !important;
  padding-left: 10px !important;
}

.big-title {
  border-bottom: 1px solid #eee;
  padding-bottom: 24px;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.normal {
  font-style: normal;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.58em;
  }
  h2 {
    font-size: 2.236em;
  }
  h3 {
    font-size: 1.892em;
  }
  h4 {
    font-size: 1.692em;
  }
  h5 {
    font-size: 1.196em;
  }
  h6, p, code, ol, ul {
    font-size: 1.012em;
  }
  p.big {
    font-size: 1.104em;
  }
  p.small {
    font-size: 0.92em;
  }
}
@media screen and (min-width: 1800px) {
  h1 {
    font-size: 3.42em;
  }
  h2 {
    font-size: 2.964em;
  }
  h3 {
    font-size: 2.508em;
  }
  h4 {
    font-size: 1.836em;
  }
  h5 {
    font-size: 1.404em;
  }
  h6, p, code, ol, ul {
    font-size: 1.078em;
  }
  p.big {
    font-size: 1.296em;
  }
  p.small {
    font-size: 1.08em;
  }
}
:root {
  --controls-width-desktop: 300px;
}

/* Controls default state */
.controls-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: var(--frame-timeline-height);
  width: var(--controls-width-desktop);
  background-color: var(--site-background-color);
  border-right: 1px dashed var(--site-background-contrast-color);
}

.controls-header {
  padding: 10px;
  border-bottom: 1px dashed var(--site-background-contrast-color);
}

/* ControlsDropdown default state */
.controls-dropdown {
  display: flex;
  flex-direction: column;
}

.controls-dropdown-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: color 100ms;
  color: #000;
}

.controls-dropdown-label:hover {
  transition: color 100ms;
  color: blue;
}

.controls-dropdown-children {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 10px 20px;
  height: 0;
  opacity: 0;
}

/* ControlsDropdown expanded state */
.controls-dropdown.expanded i {
  transform: rotate(90deg);
}

.controls-dropdown.expanded .controls-dropdown-children {
  height: initial;
  opacity: 1;
}

:root {
  --frame-timeline-height: 100px;
}

.frame-timeline-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: var(--frame-timeline-height);
  background: var(--site-background-color);
  border-top: 1px dashed var(--site-background-contrast-color);
}

.frame {
  position: relative;
  height: 100%;
  width: var(--frame-timeline-height);
  border-left: 1px dashed var(--site-background-contrast-color);
  cursor: pointer;
}

.frame:first-child {
  border-left: 0;
}

.frame:last-child {
  border-right: 1px dashed var(--site-background-contrast-color);
}

.frame.active,
.frame:hover {
  background-color: var(--site-background-color-highlight-2);
}

.frame-number {
  position: absolute;
  top: 6px;
  left: 6px;
  /* padding: 6px; */
  background-color: var(--site-background-color-highlight);
  border-radius: 6px;
  font-size: 0.9em;
  min-width: 25px;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
