:root {
  /* pallette */
  --primary-color-1: blue;
  --primary-color-2: blue;

  /* text */
  --text-color-p: #000;
  --text-color-accent: grey;
  --text-color-highlight: grey;

  /* background */
  --site-background-color: #FFF;
  --site-background-color-highlight: #EEE;
  --site-background-color-highlight-2: #DDD;
  --site-background-contrast-color: #000;

  /* status */
  --success-green: #4BB543;
  --success-green-light: #c6ebc3;
}