@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap');

$base-font-size: 16px;
$serif: 'Work Sans';

html, body {
  font-family: $serif;
  * { font-family: $serif }
  font-size: $base-font-size;
  overflow-x: hidden;
  margin: 0px;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0px;
}

pre {
  margin: 0px;
}

h5,h6 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  &:visited { color: inherit; }
  &:hover { color: var(--primary-color-1); }
}

.highlight {
  background-color: var(--text-color-highlight);
}
.highlight-on-hover:hover {
  background-color: var(--text-color-highlight);
}

.faux-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:visited { color: inherit; }
  &:hover { color: var(--text-color-accent); }
}

h1 { font-size: 3.0em; }
h2 { font-size: 2.6em; }
h3 { font-size: 2.2em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.3em; }
h6 { }
h6,p,code,ol,ul { font-size: 1.1em; }
p.big { font-size: 1.2em; }
p.small { font-size: 1.0em; }
span,small,em,strong,input { font-family: inherit; font-size: inherit; }
.accent { color: var(--text-color-accent); }
.indent { margin-left: 10px !important; padding-left: 10px !important; }
.big-title { border-bottom: 1px solid #eee; padding-bottom: 24px; text-align: center; }
.underline { text-decoration: underline; }
.medium { font-weight: 500; }
.bold { font-weight: 700; }
.italic { font-style: italic; }
.normal { font-style: normal; }

@media screen and (max-width: map-get($breakpoints, tabletPortrait)) {
  h1 {              font-size: 3.0em * 0.86; }
  h2 {              font-size: 2.6em * 0.86; }
  h3 {              font-size: 2.2em * 0.86; }
  h4 {              font-size: 1.8em * 0.94; }
  h5 {              font-size: 1.3em * 0.92; }
  h6,p,code,ol,ul { font-size: 1.1em * 0.92; }
  p.big {           font-size: 1.2em * 0.92; }
  p.small {         font-size: 1.0em * 0.92; }
}

@media screen and (min-width: map-get($breakpoints, bigDesktop)) {
  h1 {              font-size: 3.0em * abs(0.86 - 2); }
  h2 {              font-size: 2.6em * abs(0.86 - 2); }
  h3 {              font-size: 2.2em * abs(0.86 - 2); }
  h4 {              font-size: 1.8em * abs(0.88 - 1.9); }
  h5 {              font-size: 1.3em * abs(0.92 - 2); }
  h6,p,code,ol,ul { font-size: 1.1em * abs(0.92 - 1.9); }
  p.big {           font-size: 1.2em * abs(0.92 - 2); }
  p.small {         font-size: 1.0em * abs(0.92 - 2); }
}
