.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - var(--controls-width-desktop));
  margin-left: var(--controls-width-desktop);
  margin-bottom: var(--frame-timeline-height);
  padding: 12px;
}